* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f8ff;
  min-height: 100vh;
}
.maindiv {
  max-width: 1200px;
  margin: auto;
}

.headerAndBanner {
  max-width: 1200px;
  margin: auto;
}

.container {
  background-image: url("assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #4e47ff;
}

.signup-btn {
  background-color: #3f51f4;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.bar {
  height: 100px;
  background: repeating-linear-gradient(
    -45deg,
    #f3d2e1,
    #f3d2e1 10px,
    #e3c2d1 10px,
    #e3c2d1 20px
  );
  margin: 30px 0;
  position: relative;
}

.bar::before {
  content: "-";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #cc6699;
}

.main-content {
  text-align: center;
  margin-top: 160px;
}

.main-content h1 {
  font-size: 49px;
  font-weight: bold;
  color: #1e1e2f;
  margin-bottom: 20px;
}

.focus-btn {
  display: inline-block;
  background-color: #4e47fe;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

/* Actions */
.container2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 120px;
  /* max-width: 1200px; */

  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #f5f8ff;
}

.text-section {
  flex: 1 1 400px;
}

.text-section h2 {
  font-size: 40px;
  padding: 40px 0px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.text-section p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #4338ca;
}

.image-section {
  flex: 1 1 300px;
  display: flex;
  justify-content: end;
}

.image-section img {
  width: 403px;
  height: 328px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* status */

.stats-container {
  background-color: #e8eaff;
  border-radius: 16px;
  margin: 40px 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
  /* box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05); */
}

.stats-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  /* gap: 30px; */
}

.stat-value {
  font-size: 42px;
  font-weight: bold;
  color: #5b50ff;
}

.stat-label {
  font-size: 14px;
  color: #555;
  margin-top: 2px;
}

/* what out users say  */

.testimonials-section {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 120px;
  text-align: center;
}
.testTitle {
  margin-bottom: 40px;
  font-size: 34px;
}
.testimonials-section h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #1a1a1a;
}

.testimonial-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 30px;
  padding-bottom: 30px;
}

.testimonial-card {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.stars {
  color: #facc15; /* Yellow-400 */
  margin-bottom: 10px;
  font-size: 16px;
}

.testimonial-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #1a1a1a;
}

.testimonial-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-info {
  font-size: 13px;
}

.reviewer-info .name {
  font-weight: 600;
  color: #333;
}

.reviewer-info .date {
  color: #aaa;
}